body{
    color: blue;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0px;
}
.cabecera{
    background: blue;
    color: white;
    margin: 0;
    padding: 0.5em;
    font-size: 2em;
}
.cabecera .tagline{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.5em;
}

.container{
    width: 60%;
    padding: 1em;
    text-align: left;
    border: 8px solid red;
    margin: 0 auto;
}

.container h1{
    font-size: 30px;
}